/* container */

.feed {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    flex-wrap: wrap;
}
/* switch do just cont center and set margin left and right to .feed */

/* 1st section */

.profile {
    display: flex;
    flex-grow: 0.2;
    justify-content: center;
    border-radius: 5px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px 5px;
}

.profile-card-avatar {
    width: 5rem;
    height: 5rem;
}

.profile-divider {
    width: 90%;
    margin: .5rem;
}

.profile-card-user {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.profile-card-user-p {
    display: flex;
    align-items: flex-end;
}

/* 2nd section */

.news {
    flex-grow: 0.4;
    /* border: 1px solid black; */
    max-width: 710px;
    margin: 0 1rem;
}

.news-post {
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.news-post-desc {
    width: 100%;
    margin: 5px auto;
}

.news-inputs {
    display: flex;
    justify-content: space-between;
}

.news-post-imgUrl {
    width: 85%;
}

.news-post-btn {
    background-color: #94999b;
}

.news-post-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.news-cards-container {
    margin-top: 1rem;
}

.news-card {
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 1rem;
}

.news-card-user {
    margin-right: .5rem;
}

.news-card-desc {
    word-wrap: break-word
}

.news-card-img {
    width: 100%;
    max-width: 700px;
}

.news-card-likes {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3rd section */

.events {
    flex-grow: 0.3;
}