.error {
    top: 0;
    left: 80%;
    position: fixed;
    font-size: large;
    margin: 10rem 3rem 0 0;
    padding: 1rem;
    background-color: rgba(255, 0, 0, 1);
    border-radius: 1rem;
    cursor: pointer;
    z-index: 999;
}